@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Madimi+One&family=Pacifico&display=swap');




* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body {
    background-color: gray;
    margin: 0%;
    padding: 0%;
    
}

.parent {
    width: 100%;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(12,auto);
    grid-template-rows: repeat(12,auto);
}

.parent div {
    width: 100%;
    height: 200px;
    background-color: brown;
}

.parent .hero {
    background-color: coral;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: madimi one ;
}

.parent .aside {
    background-color: beige;
    height: 100%;
    grid-row: 2/6;
    grid-column: 1/3;
    
    display: block;
    text-align: center;
    border-radius: 20px;
    
    
}



.parent .aside a  {
    display: block;
    margin: 40px 0px;
    color: chocolate;
    /*background-color: aqua;*/
}

.parent .content {
    background-color: blueviolet;
    grid-column: 3/-1;
    height: auto;
}
.parent .content div {
    display: block;
    float: left;
    width: 200px;
    height: 250px;
    background-color: chartreuse;
    margin: 2px;
}





.parent .footer {
    background-color: black;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 10px;
}

.footer div {
    background-color: cadetblue;
    float: right;
    
}












