*{
    box-sizing: border-box;
}

body{
    background-color: #a09c9c;
    margin: 0%;
    padding: 0%;
}


    /* this style sheet for top banner and logo */
.banner{
  
    margin: 0%;
    width: 100%;
    padding: 50px;
    background-color: #a14c2f;
    text-align: center;
    color: #000000;
    font-family: pacifico;

}

    /* let add  a stylish navbar */



.menu{
    
    margin-top: 50px;
    margin-left: 10px;
    position: fixed;
    width: 80px;
    height:300px;
    background-color: rgb(198, 202, 206);
    padding: 15px;
    border-radius: 30px;
}

.menu a{
    display: block;
    float: left;
    text-decoration: none;
    color: #a14c2f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin-top: 40px;
}

.order{
    width: 80px;
    height: 50px;
    position: fixed;
    background-color: aliceblue;
    margin-left: 10px;
    border-radius: 30px;
    margin-top: 350px;
    border: none;
    color: #a14c2f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

    /* this for content in the body */
    
.container {
    /*background-color: aquamarine;*/
    width: 90%;
    float: right;
    margin: 50px 50px;
    
}

.container div {
    display: block;
    float: right;
    text-align: center;
    align-content: center;
    margin: 10px;
    width: 300px;
    height: 350px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: -5px 5px rgb(118, 104, 104);
}

.container div img {
    display: block;
    width: 70%;
    height: 200px;
    margin: 15%;
    
}